html {
  
  margin: 0 8px;
}

body {
  font-family: Helvetica;
  display: inline;
  text-align: center;
  font-weight: bold;
}

.container {
margin: 0.25%;
}

.heading {
  background: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);

}

.Setting {
  background: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);

}

.heading, .setting, .footer, ul {
  color: white;
}

h1 {
  font-size: 70px;

}
ul li a {
color: white;

}

ul {
  font-size: 18px;
  list-style: none;

}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
p {
  font-size: 14px;

}
